<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:ip_address]} type="text" label="Ip address" />
  <.input field={f[:notes]} type="textarea" label="Notes" />
  <:actions>
    <.button>Save Machine</.button>
  </:actions>
</.simple_form>
