<.header>
  New Machine
  <:subtitle>Use this form to manage machine records in your database.</:subtitle>
</.header>

<.machine_form changeset={@changeset} action={~p"/machines"} />

<.back navigate={~p"/machines"}>Back to machines</.back>
